/.vscode
/data/
/mnist/
/src/
/mamba-chat*/
__pycache__
checkpoint-*
/weights/cfg/
/weights_run
/result/
/res.yaml
/share
/logs
/out.csv
/weights/mamba-chat
/eval_run
/out/
*.pkl
/cfg/debug
/test/data
/scripts/debug
/wandb
/weights
/bak