.ipynb_checkpoints
__pycache__
**/*.ipynb_checkpoints/
**/__pycache__
.DS_Store
**/.DS_Store

**/figures/

**/*.out
**/*.err
**/*.log
**/*.yaml
**/*.wandb
**/*.tar

**/figures/
**/*.err
**/*.log
**/*.yaml
**/*.wandb
**/*.model

**/wandb
**/wandb_sweep
**/log_ccc
**/trials
**/figures
**/log_condor
**/datasets
**/.ipynb_checkpoints/
**/results
**/ft_models
**/logs
**/archive
**/google_drive_helper
**/data
**/checkpoints
**/submit
**/configs

**/submit_cpu.sh
**/submit_gpu.sh
**/submit_cpu.sh
**/submit_gpu.sh

**/final_command.sh

**/environment.py

**/token.json
**/credentials.json
**/token_drive_v3.pickle

**/nohup.out
**/SimSun.ttf

**/.vscode
**/data/
**/mnist/
**/src/mamba/data/mnist/
**/mamba-chat*/
**/__pycache__
**/checkpoint-*
**/weights/cfg/
**/weights_run
**/result/
**/res.yaml
**/share
**/logs
**/out.csv
**/weights/mamba-chat
**/eval_run
**/src/pscan
**/out/
**/*.pkl
**/src/mamba2
/eval_pvc
**/weights_pvc
**/bak
**/src/lm-evaluation-harness
**/lib
**/core
**/remote
**/weights/fp32/grid/003_super_glue_outlora_sdt_fp32_lessit_grid
# /weights/fp32/grid/004*
**/sync_git.py
**/test_run